body {
    padding-top: 50px;
}
.main-container {
    padding: 40px 15px;
}



.pull-left {
       float: left !important;
   }
.pull-right {
    float: right !important;
}


/* tree  */
ul.jqtree-tree .jqtree-element {

    /* SantoMercado - cascada inhabilitada  */
    /* width: 100%; */ /* todo: why is this in here? */
    /* width: auto; /* ie7 fix; issue 41 */

    position: relative;

    /* SantoMercado - nuevo css */
    padding: 7px;
    border-radius: 4px;
}

ul.jqtree-tree li {
    /* SantoMercado - nuevo css */
    border: 1px solid #143546;
    margin: 7px;
    border-radius: 4px;
}
ul.jqtree-tree span.jqtree-border {
    /* SantoMercado - nuevo css */
    padding: 7px;
    border-radius: 4px;
}
/* tree ends */
